name: Schedule Notebook Execution

on:
  schedule:
    - cron: '0 12 * * *' # Questo esegue il workflow ogni giorno alle 12:00 UTC
  workflow_dispatch: # Permette l'esecuzione manuale

jobs:
  execute-notebook:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install seaborn yahoo_fin numpy matplotlib yfinance tqdm pandas holidays scikit-learn gdown scipy papermill

    - name: Create output directory
      run: mkdir -p output

    - name: Execute the notebook
      run: papermill caricamento_automatico_dati.ipynb output/caricamento_automatico_dati_output.ipynb
